<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/styles.css" />
  <title>Orsai Pizzas y Empanadas</title>
</head>

<body>
  <header>
    <ion-icon name="pizza-outline"></ion-icon>
    <ul>
      <a href="#">Productos</a>
      <a href="#">Quienes somos</a>
      <a href="#">Ingresar</a>
      <a href="/pedido">Carrito</a>
    </ul>
  </header>
  <main>
    <section class="seccion-heroe"></section>
    <section class="promociones">
      <article class="promocion">
        <img src="/imgs/aurelien-lemasson-theobald-x00CzBt4Dfk-unsplash.jpg" alt="" />
        <div>
          <p class="nombre-producto">
            Pizza de Dios + 2 cervezas o 1 gasesosa
          </p>
          <span class="precio">$1000</span>
          <p class="descripcion-promo">Descripción</p>
        </div>
        <button>Agregar al Carrito</button>
      </article>
      <article class="promocion">
        <img src="/imgs/aurelien-lemasson-theobald-x00CzBt4Dfk-unsplash.jpg" alt="" />
        <div>
          <p class="nombre-producto">
            Pizza el Dibu + 2 cervezas o 1 gaseosa
          </p>
          <span class="precio">$1000</span>
          <p class="descripcion-promo">Descripción</p>
        </div>
        <button>Agregar al Carrito</button>
      </article>
      <article class="promocion">
        <img src="/imgs/aurelien-lemasson-theobald-x00CzBt4Dfk-unsplash.jpg" alt="" />
        <div>
          <p class="nombre-producto">
            Pizza Messirve + 2 cervezas o 1 gasesosa
          </p>
          <span class="precio">$1000</span>
          <p class="descripcion-promo">Descripción</p>
        </div>
        <button>Agregar al Carrito</button>
      </article>
    </section>
    <section class="pizzas">
      <article class="pizza">
        <img src="/imgs/aurelien-lemasson-theobald-x00CzBt4Dfk-unsplash.jpg" alt="" />
        <div>
          <p class="nombre-producto">Pizza la Scaloneta</p>
          <span class="precio">$1000</span>
          <p class="descripcion-promo">Descripción</p>
        </div>
        <button>Agregar al Carrito</button>
      </article>
      <article class="pizza">
        <img src="/imgs/aurelien-lemasson-theobald-x00CzBt4Dfk-unsplash.jpg" alt="" />
        <div>
          <p class="nombre-producto">Pizza el Kuni</p>
          <span class="precio">$1000</span>
          <p class="descripcion-promo">Descripción</p>
        </div>
        <button>Agregar al Carrito</button>
      </article>
      <article class="pizza">
        <img src="/imgs/aurelien-lemasson-theobald-x00CzBt4Dfk-unsplash.jpg" alt="" />
        <div>
          <p class="nombre-producto">Pizza el Diego</p>
          <span class="precio">$1000</span>
          <p class="descripcion-promo">Descripción</p>
        </div>
        <button>Agregar al Carrito</button>
      </article>
    </section>
    <section class="empanadas"></section>
  </main>
  <footer></footer>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>