<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/7e9e5417b5.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css" />
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet" />

  <title>Orsai Pizzas y Empanadas</title>
</head>

<body>
  <header>
    <a href="#" class="header-link burger-menu">
      <ion-icon name="menu-sharp"></ion-icon>
    </a>
    <a href="#" class="header-link orsai-titulo">
      ORSAI
      <ion-icon name="pizza-outline"></ion-icon>
    </a>
    <a href="/pedido" class="header-link carrito">
      <ion-icon name="cart-sharp"></ion-icon>
    </a>
    <ul class="main-nav">
      <a href="/productos">Menú</a>
      <a href="#">Quienes somos</a>
      <a href="/login">
        <ion-icon name="person-circle"></ion-icon>Ingresar
      </a>
      <a href="/pedido">
        <ion-icon name="cart-sharp"></ion-icon>$0.00
      </a>
    </ul>
  </header>
  <main>
    <section class="seccion-heroe">
      <ion-icon name="chevron-back-circle" class="flecha-anterior"></ion-icon>
      <img src="/imgs/foto-carousel-5.jpg" />
      <ion-icon name="chevron-forward-circle" class="flecha-siguiente"></ion-icon>
    </section>
    <section class="promociones">
      <h2 class="titulo-seccion">Promociones</h2>
      <div class="productos">
        <article class="promocion">
          <img src="/imgs/pizza-producto-3.jpg" alt="" />
          <div class="info-promocion">
            <p class="nombre-producto">
              Pizza de Dios + 2 cervezas o 1 gasesosa
            </p>
            <span class="precio">$1000</span>
            <p class="descripcion-promo">Descripción</p>
          </div>
          <button class="btn agregar-carrito">Agregar al Pedido</button>
        </article>
        <article class="promocion">
          <img src="/imgs/pizza-producto-1.jpg" alt="" />
          <div class="info-promocion">
            <p class="nombre-producto">
              Pizza el Dibu + 2 cervezas o 1 gaseosa
            </p>
            <span class="precio">$1000</span>
            <p class="descripcion-promo">Descripción</p>
          </div>
          <button class="btn agregar-carrito">Agregar al Pedido</button>
        </article>
        <article class="promocion">
          <img src="/imgs/pizza-producto-4.jpg" alt="" />
          <div class="info-promocion">
            <p class="nombre-producto">
              Pizza Messirve + 2 cervezas o 1 gasesosa
            </p>
            <span class="precio">$1000</span>
            <p class="descripcion-promo">Descripción</p>
          </div>
          <button class="btn agregar-carrito">Agregar al Pedido</button>
        </article>
      </div>
    </section>
    <section class="pizzas">
      <h2 class="titulo-seccion">Pizzas</h2>
      <div class="productos">
        <article class="pizza">
          <img src="/imgs/pizza-producto-6.jpg" alt="" />
          <div class="info-pizza">
            <p class="nombre-producto">Pizza la Scaloneta</p>
            <span class="precio">$1000</span>
            <p class="descripcion-promo">Descripción</p>
          </div>
          <button class="btn agregar-carrito">Agregar al Pedido</button>
        </article>
        <article class="pizza">
          <img src="/imgs/pizza-producto-5.jpg" alt="" />
          <div class="info-pizza">
            <p class="nombre-producto">Pizza el Kuni</p>
            <span class="precio">$1000</span>
            <p class="descripcion-promo">Descripción</p>
          </div>
          <button class="btn agregar-carrito">Agregar al Pedido</button>
        </article>
        <article class="pizza">
          <img src="/imgs/pizza-producto-2.jpg" alt="" />
          <div class="info-pizza">
            <p class="nombre-producto">Pizza el Diego</p>
            <span class="precio">$1000</span>
            <p class="descripcion-promo">Descripción</p>
          </div>
          <button class="btn agregar-carrito">Agregar al Pedido</button>
        </article>
      </div>
    </section>
    <section class="empanadas">
      <h2 class="titulo-seccion">Empanadas</h2>
      <div class="productos">
        <article class="empanada">
          <img src="/imgs/empanadas.jpg" />
          <div class="info-empanada">
            <div class="nombre-precio">
              <p class="nombre-producto">Carne a cuchillo</p>
              <span class="precio">$200</span>
            </div>
            <button class="btn agregar-emp-1">Agregar</button>
            <button class="btn agregar-emp-2">Agregar al Pedido</button>
          </div>
        </article>
        <article class="empanada">
          <img src="/imgs/empanadas.jpg" />
          <div class="info-empanada">
            <div class="nombre-precio">
              <p class="nombre-producto">Carne a cuchillo</p>
              <span class="precio">$200</span>
            </div>
            <button class="btn agregar-emp-1">Agregar</button>
            <button class="btn agregar-emp-2">Agregar al Pedido</button>
          </div>
        </article>
        <article class="empanada">
          <img src="/imgs/empanadas.jpg" />
          <div class="info-empanada">
            <div class="nombre-precio">
              <p class="nombre-producto">Carne a cuchillo</p>
              <span class="precio">$200</span>
            </div>
            <button class="btn agregar-emp-1">Agregar</button>
            <button class="btn agregar-emp-2">Agregar al Pedido</button>
          </div>
        </article>
      </div>
    </section>
  </main>
  <footer class="pie">
    <div class="icono-footeer">
      <a href="#" class="footer-link orsai-titulo-footer">
        ORSAI
        <ion-icon name="pizza-outline"></ion-icon>
      </a>
    </div>
    <div class="seguinos-en-redes">
      <p>Seguinos en nuestras redes sociales</p>
      <div>
        <ul class="links-footer">
          <a href="https://www.facebook.com/" class="fa-brands fa-facebook"> </a>
          <a href="https://mobile.twitter.com/i/flow/login" class="fa fa-twitter"></a>
          <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
        </ul>
      </div>
    </div>
    <div class="descarga-nuestras-apps">
      <p> Descarga nuestra app</p>
    </div>
    <div class="apps-gp-ap"><button type="" class="btn google-play" href="https://www.google.com/"><i
          class="fa-brands fa-google-play"></i>Google play</button></div>
    <div class="apps-gp-ap"><button type="" class="btn appstore" href="https://www.apple.com/la/app-store/"><i
          class="fa-brands fa-app-store"></i>App store</button></div>
    <ul class="navegacion-footer">
      <a href="/login">Iniciar sesion</a>
      <a href="#">Quienes somos</a>
      <a href="/productos">Pizzas</a>
      <a href="/productos">Empanadas</a>
      <a href="#">Promocion</a>
    </ul>
    <div class="derechos-reservados">
      <small>&copy; 2022 <b>Orsai</b> - Todos los derechos reservados.</small>
    </div>
  </footer>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>