<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>Login</title>
  </head>
  <body>
    <header>
      <ion-icon name="pizza-outline"></ion-icon>
      <ul>
        <a href="#">Productos</a>
        <a href="#">Quienes somos</a>
        <a href="#">Ingresar</a>
        <a href="#">Carrito</a>
      </ul>
    </header>
    <div class="container-login">
      <form action="/" method="post" class="form-login">
        <p>
          <label for="email">Email</label>
          <input
            required
            type="email"
            ;
            name="email"
            ;
            placeholder="Email address"
            ;
            class="inputs"
            id="email"
          />
        </p>
        <p>
          <label> Contraseña </label>
          <input
            required
            type="password"
            ;
            name="Contraseña"
            ;
            placeholder="Escriba la contraseña"
            ;
            class="inputs"
          />
        </p>

        <p class="recuperar-contra"> Recuperar Contraseña <a href="#"></a></p>

        <button type="submit" class="btn enviar-login">Ingresar</button>
        <p class="sin-cuenta-existente--login">
          Aun no tiene cuenta <a href="#">REGISTRATE</a> </p> O inicia sesion
          con <a href="https://es-la.facebook.com">Facebook</a>
          <a href="https://www.google.com.ar/?hl=es">Google</a>
        </p>
      </form>
    </div>
  </body>
</html>
