<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/productDetail.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Detalle de Producto</title>
  </head>
  <body>
    <header>
      <a href="#" class="header-link burger-menu">
        <ion-icon name="menu-sharp"></ion-icon>
      </a>
      <a href="/" class="header-link orsai-titulo">
        ORSAI
        <ion-icon name="pizza-outline"></ion-icon>
      </a>
      <a href="/pedido" class="header-link carrito">
        <ion-icon name="cart-sharp"></ion-icon>
      </a>
      <ul class="main-nav">
        <a href="/productos">Menú</a>
        <a href="#">Quienes somos</a>
        <a href="/login"><ion-icon name="person-circle"></ion-icon>Ingresar</a>
        <a href="/pedido"><ion-icon name="cart-sharp"></ion-icon>$0.00</a>
      </ul>
    </header>
    <main>
      <div class="container-det-producto">
        <div>
          <img
            src="/imgs/pizza-producto-6.jpg"
            alt=""
            class="img-det-producto"
          />
        </div>
        <div class="nombre-producto--descripcion">
          <h1>La Scaloneta</h1>
          <p class="descripcion-producto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
            voluptas placeat quos! Repudiandae, ipsam ipsa deleniti ullam dolor
            dignissimos
          </p>
        </div>
        <div class="selects">
          <label>Toppings</label>
          <select name="toppings" class="select">
            <option>Champiniones</option>
            <option>Pickles</option>
            <option>Pepperoni</option>
          </select>
          <label>Bebida</label>
          <select name="bebida" class="select">
            <option value="cerveza">Cerveza</option>
            <option value="gaseosa">Gaseosa</option>
          </select>
        </div>
        <div>
          <textarea class="input-aclaraciones" placeholder="Aclaraciones"></textarea>
        </div>
        <div class="div-button-carrito">
          <a href="/">
          <button type="submit" class="btn agregar-carrito">
            Añadir al Carrito
          </button>
          </a>
        </div>
      </div>
    </main>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
