<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <link rel="stylesheet" href="/css/styles.css" /> -->
    <link rel="stylesheet" href="/css/productos.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <title>Productos</title>
  </head>

  <body>
    <main>
      <section class="pizzas">
        <h2 class="titulo-seccion">Pizzas</h2>
        <div class="productos">
          <article class="pizza">
            <img src="/imgs/pizza-producto-1.jpg" alt="" class="img-producto" />
            <div class="descrip-producto">
              <div class="info-pizza">
                <p class="nombre-producto">La Scaloneta</p>
                <span class="precio">$1000</span>
                <p class="descripcion-promo">Descripción</p>
              </div>
              <button class="btn agregar-carrito">Agregar al Pedido</button>
            </div>
          </article>
          <article class="pizza">
            <img src="/imgs/pizza-producto-2.jpg" alt="" class="img-producto" />
            <div class="descrip-producto">
              <div class="info-pizza">
                <p class="nombre-producto">La Scaloneta</p>
                <span class="precio">$1000</span>
                <p class="descripcion-promo">Descripción</p>
              </div>
              <button class="btn agregar-carrito">Agregar al Pedido</button>
            </div>
          </article>
          <article class="pizza">
            <img src="/imgs/pizza-producto-3.jpg" alt="" class="img-producto" />
            <div class="descrip-producto">
              <div class="info-pizza">
                <p class="nombre-producto">La Scaloneta</p>
                <span class="precio">$1000</span>
                <p class="descripcion-promo">Descripción</p>
              </div>
              <button class="btn agregar-carrito">Agregar al Pedido</button>
            </div>
          </article>
          <article class="pizza">
            <img src="/imgs/pizza-producto-4.jpg" alt="" class="img-producto" />
            <div class="descrip-producto">
              <div class="info-pizza">
                <p class="nombre-producto">La Scaloneta</p>
                <span class="precio">$1000</span>
                <p class="descripcion-promo">Descripción</p>
              </div>
              <button class="btn agregar-carrito">Agregar al Pedido</button>
            </div>
          </article>
          <article class="pizza">
            <img src="/imgs/pizza-producto-5.jpg" alt="" class="img-producto" />
            <div class="descrip-producto">
              <div class="info-pizza">
                <p class="nombre-producto">La Scaloneta</p>
                <span class="precio">$1000</span>
                <p class="descripcion-promo">Descripción</p>
              </div>
              <button class="btn agregar-carrito">Agregar al Pedido</button>
            </div>
          </article>
          <article class="pizza">
            <img src="/imgs/pizza-producto-6.jpg" alt="" class="img-producto" />
            <div class="descrip-producto">
              <div class="info-pizza">
                <p class="nombre-producto">La Scaloneta</p>
                <span class="precio">$1000</span>
                <p class="descripcion-promo">Descripción</p>
              </div>
              <button class="btn agregar-carrito">Agregar al Pedido</button>
            </div>
          </article>
          <article class="pizza">
            <img src="/imgs/pizza-producto-1.jpg" alt="" class="img-producto" />
            <div class="descrip-producto">
              <div class="info-pizza">
                <p class="nombre-producto">La Scaloneta</p>
                <span class="precio">$1000</span>
                <p class="descripcion-promo">Descripción</p>
              </div>
              <button class="btn agregar-carrito">Agregar al Pedido</button>
            </div>
          </article>
          <article class="pizza">
            <img src="/imgs/pizza-producto-2.jpg" alt="" class="img-producto" />
            <div class="descrip-producto">
              <div class="info-pizza">
                <p class="nombre-producto">La Scaloneta</p>
                <span class="precio">$1000</span>
                <p class="descripcion-promo">Descripción</p>
              </div>
              <button class="btn agregar-carrito">Agregar al Pedido</button>
            </div>
          </article>
        </div>
      </section>
      <!-- <section class="empanadas">
        <h2 class="titulo-seccion">Empanadas</h2>
        <div class="productos">
          <article class="empanada">
            <img src="/imgs/empanadas.jpg" />
            <div class="info-empanada">
              <div class="nombre-precio">
                <p class="nombre-producto">Carne a cuchillo</p>
                <span class="precio">$200</span>
              </div>
              <button class="btn agregar-emp-1">Agregar</button>
              <button class="btn agregar-emp-2">Agregar al Pedido</button>
            </div>
          </article>
          <article class="empanada">
            <img src="/imgs/empanadas.jpg" />
            <div class="info-empanada">
              <div class="nombre-precio">
                <p class="nombre-producto">Carne a cuchillo</p>
                <span class="precio">$200</span>
              </div>
              <button class="btn agregar-emp-1">Agregar</button>
              <button class="btn agregar-emp-2">Agregar al Pedido</button>
            </div>
          </article>
          <article class="empanada">
            <img src="/imgs/empanadas.jpg" />
            <div class="info-empanada">
              <div class="nombre-precio">
                <p class="nombre-producto">Carne a cuchillo</p>
                <span class="precio">$200</span>
              </div>
              <button class="btn agregar-emp-1">Agregar</button>
              <button class="btn agregar-emp-2">Agregar al Pedido</button>
            </div>
          </article>
          <article class="empanada">
            <img src="/imgs/empanadas.jpg" />
            <div class="info-empanada">
              <div class="nombre-precio">
                <p class="nombre-producto">Carne a cuchillo</p>
                <span class="precio">$200</span>
              </div>
              <button class="btn agregar-emp-1">Agregar</button>
              <button class="btn agregar-emp-2">Agregar al Pedido</button>
            </div>
          </article>
          <article class="empanada">
            <img src="/imgs/empanadas.jpg" />
            <div class="info-empanada">
              <div class="nombre-precio">
                <p class="nombre-producto">Carne a cuchillo</p>
                <span class="precio">$200</span>
              </div>
              <button class="btn agregar-emp-1">Agregar</button>
              <button class="btn agregar-emp-2">Agregar al Pedido</button>
            </div>
          </article>
          <article class="empanada">
            <img src="/imgs/empanadas.jpg" />
            <div class="info-empanada">
              <div class="nombre-precio">
                <p class="nombre-producto">Carne a cuchillo</p>
                <span class="precio">$200</span>
              </div>
              <button class="btn agregar-emp-1">Agregar</button>
              <button class="btn agregar-emp-2">Agregar al Pedido</button>
            </div>
          </article>
        </div>
      </section> -->
    </main>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
