/* 
Colores
#d9d9cd
#5b7a2f
#36bf38
#ae7e33
#ffcc33
*/

body {
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.4)
    ),
    url("/imgs/login-background.jpg");
  background-size: cover;
  background-position-y: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem 0;
  justify-content: center;
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 85vw;
  max-width: 40rem;
}

.contrasenia {
  margin-bottom: 0.5rem !important;
}

p label {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.inputs {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 3.5rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
}
.sin-cuenta-existente--login {
  margin-top: 0.5rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
}
.enviar-login {
  margin-top: 1rem;
  margin-bottom: 1.7rem;
  height: 4.5rem;
  font-size: 1.6rem;
}

.remember-me label {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.checkboxes {
  color: #fff;
  font-size: 1.6rem;
  display: flex;
  margin: 1.5rem 0;
  margin-top: 0.2rem;
  justify-content: space-between;
}
.checkboxes a {
  color: #ced2d6;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  transition: all 0.3s;
  text-decoration: none;
}

.checkboxes a:hover {
  color: #fff;
}

.inicia-sesion-con {
  margin-top: 1.5rem;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.6rem;
}

.iniciar-con-f-g {
  justify-content: space-between;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.facebook {
  font-size: 1.5rem;
  /* border: 1.5px solid #000000; */
  color: #35599f;
  background: white;
  box-shadow: rgb(0 0 0 / 20%) 0.1rem 0.1rem 0.5rem 0;
  margin-top: 1.5rem;
  width: 48%;
  height: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}
.google {
  font-size: 1.5rem;
  background-color: white;
  /* border: 1.5px solid #d34836; */
  box-shadow: rgb(0 0 0 / 20%) 0.1rem 0.1rem 0.5rem 0;
  color: #d34836;
  margin-top: 1.5rem;
  width: 48%;
  height: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}

.facebook:hover,
.google:hover {
  background-color: #dee2e6;
}

.iniciar-con-f-g img {
  width: 2.5rem;
  margin-right: 3rem;
}

form ion-icon {
  font-size: 2.3rem;
  /* color: #ae7e33; */
  color: #e5a030;
  margin-right: 0.5rem;
}

@media (min-width: 120rem) {
  .container-login {
    align-items: flex-end;
  }
}
p {
  color: white;
}
.registrate {
  color: #36bf38;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s;
  margin-left: 0.5rem;
}

.registrate:hover {
  text-decoration: none;
  color: #43e245;
}
