/* 
Colores
#d9d9cd
#5b7a2f
#36bf38
#ae7e33
#ffcc33

#35599f
#36bf38
#43e245 
#ced2d6 
#dee2e6 
#fff
#d34836 
#e5a030 
*/

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.4)
    ),
    url("/imgs/login-background.jpg");
  background-size: cover;
  background-position-y: center;
}

p {
  color: white;
}

form ion-icon {
  font-size: 2.3rem;
  /* color: #ae7e33; */
  color: #e5a030;
  color: #fc913a;
  margin-right: 0.5rem;
}

.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10rem 0;
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85vw;
  max-width: 40rem;
}

/* .password {
  margin-bottom: 0.5rem !important;
} */

p label {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}

.inputs {
  width: 100%;
  height: 3.5rem;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}
.no-account--login {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  margin: auto;
  font-size: 1.6rem;
}
.submit-login {
  height: 4.5rem;
  margin-top: 1rem;
  margin-bottom: 1.7rem;
  font-size: 1.6rem;
}

.remember-me label {
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.checkboxes {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
  margin-top: 0.2rem;
  font-size: 1.6rem;
  color: #fff;
}
.checkboxes a {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  width: auto;
  height: auto;
  color: #ced2d6;
  text-decoration: none;
  transition: all 0.3s;
}

.checkboxes a:hover {
  color: #fff;
}

.register-link {
  color: #36bf38;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s;
  margin-left: 0.5rem;
}

.register-link:hover {
  text-decoration: none;
  color: #43e245;
}

.login-with {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.5rem;
  width: auto;
  height: auto;
  font-size: 1.6rem;
}

.login-with-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
  height: auto;
}

.login-with-div img {
  width: 2.5rem;
  margin-right: 5px;
}

.login-with-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 48%;
  height: 5rem;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  background-color: white;
  box-shadow: rgb(0 0 0 / 20%) 0.1rem 0.1rem 0.5rem 0;
  transition: all 0.4s;
}

.facebook {
  color: #35599f;
}
.google {
  color: #d34836;
}

.facebook:hover,
.google:hover {
  background-color: #dee2e6;
}

@media (min-width: 120rem) {
  .container-login {
    align-items: flex-end;
  }
}
