body {
  display: flex;
  flex-direction: column;
  background-color: rgb(182, 158, 130);
  height: 100vh;
}
main {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
}
.container-det-producto {
  padding: 2rem 0;
  max-width: 80rem;
  position: relative;
}

.detail-div-img {
  max-height: 40rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.sub-container {
  margin-top: 2rem;
}

.img-det-producto {
  object-position: 0 40%;
  width: 100%;
}

.descripcion-producto {
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
}

.selects {
  display: flex;
  flex-direction: column;
}

.aclaraciones {
  display: flex;
  flex-direction: column;
}

.input-aclaraciones {
  min-height: 10rem;
}

.select,
.input-aclaraciones {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 3.5rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
}

label {
  font-size: 1.8rem;
}
.agregar-carrito {
  border-top-left-radius: 0.6rem !important;
  border-top-right-radius: 0.6rem !important;
  width: 100%;
  height: 3.5rem;
}
.admin-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}
.admin-btns a {
  display: flex;
  width: 100%;
}
.admin-btns div {
  display: flex;
  width: 100%;
}
.admin-btns form {
  display: flex;
  width: 100%;
}
.btn-delete {
  background-color: crimson;
  align-self: center;
  margin-top: 1rem;
  width: 100%;
}

.btn-edit-link {
  text-decoration: none;
}

.btn-edit {
  background-color: orange;
  margin-top: 1rem;
  width: 100%;
}

.btn-delete:hover {
  background-color: brown;
}

.btn-edit:hover {
  background-color: orangered;
}

.aclaraciones {
  margin: auto;
}

@media (min-width: 1000px) {
  .sub-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    gap: 2rem;
  }

  .detail-div-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 49%;
  }

  .detail-div-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 49%;
  }
  .admin-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49%;
    gap: 5%;
  }
  .admin-btns form {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .delete-btn {
    display: flex;
    width: 100%;
  }
  .delete-btn a {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .edit-btn {
    display: flex;
    width: 100%;
  }
  .edit-btn a {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .selects .select:nth-child(4) {
    margin-bottom: 0;
  }

  .selects-sub-container {
    width: 50%;
  }

  .select {
    max-width: 50rem;
  }

  .input-aclaraciones {
    min-height: auto;
    height: 13rem;
  }

  .detail-div-1 {
    display: flex;
    flex-direction: column;
    width: 49%;
  }

  .selects {
    gap: 2rem;
    flex-direction: row;
    /* justify-content: space-between; */
  }

  .select,
  .input-aclaraciones {
    margin-bottom: 0;
  }

  .sub-container {
    position: relative;
  }
}

@media (min-width: 1200px) {
  main {
    padding: 0 20vw;
  }
}
