body {
  background-color: rgb(182, 158, 130);
}

main {
  padding: 0 5vw;
}

h2 {
  font-size: 3rem;
  padding: 3rem 3rem 3rem 0;
  color: #333;
}

.pizzas-menu-section {
  padding-top: 3rem;
}

.pizzas-menu {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin-bottom: 3rem;
}

.pizza-menu {
  overflow: hidden;
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
}

.pizza-menu img {
  width: 100%;
  transition: all 0.4s;
}

.info-pizza-menu {
  opacity: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ebebeb;
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  transition: all 0.4s;
  padding: 0 5px;
}

.name-pizza-menu {
  background-image: linear-gradient(to right, #ffbe33, #ffe23a, #fff153);
  padding: 7px 0;
  margin: 0 20px;
  margin-bottom: 5px;
  margin-top: 30%;
  color: #444;
}

/* Price */
.info-pizza-menu span {
  margin-top: 1rem;
  /* color: #ffcc33; */
  color: #fc913a;
}

.ingredients-pizza-menu {
  font-weight: 400;
}

.descrip-product-menu {
  opacity: 0;
  transition: all 0.4s;
}

.pizza-menu:hover .descrip-product-menu,
.pizza-menu:hover .add-cart-menu {
  opacity: 1;
  cursor: pointer;
}

.pizza-menu:hover .info-pizza-menu {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.pizza-menu:hover .product-img {
  transform: scale(1.075);
}

.empanadas {
  margin-bottom: 3rem;
}

.add-cart-menu {
  opacity: 0;
  height: 20%;
  position: absolute;

  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: rgba(150, 150, 150, 0.5);

  bottom: 0;
  left: 0;
  right: 0;

  transition: all 0.4s;
}

.add-cart-menu:hover {
  cursor: pointer;
  background-color: rgb(76, 174, 79, 0.7);
}

@media (min-width: 685px) {
  .pizzas-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .info-pizza-menu {
    font-size: 1.6rem;
  }
}
@media (min-width: 1000px) {
  .pizzas-menu {
    grid-template-columns: repeat(4, 1fr);
  }

  .info-pizza-menu {
    font-size: 1.3rem;
  }

  .name-pizza-menu {
    margin: 0 10px;
    margin-top: 20%;
  }
}
@media (min-width: 1200px) {
  main {
    padding: 0 10vw;
  }
}

@media (min-width: 1600px) {
  .info-pizza-menu {
    font-size: 1.8rem;
  }
}
