* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* Porcentage del font-size del browser del user */
  font-size: 62.5%;
}

body {
  /* font-family: "Lato", sans-serif; */
  font-family: "Nunito", sans-serif;
  /* font-family: "Libre Baskerville", serif; */
  /* height: 100vh; */
  /* background-image: linear-gradient(
    to bottom left,
    rgb(255, 149, 78),
    rgb(255, 196, 140)
  ); */
  background-color: rgb(182, 158, 130);
}

main {
  padding: 0 5vw;
}

h2 {
  font-size: 3rem;
  padding: 3rem 3rem 3rem 0;
  color: #333;
}

.pizzas-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 30px;
}

.pizza-menu {
  overflow: hidden;
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
}

.pizza-menu img {
  width: 100%;
  transition: all 0.4s;
}

.info-pizza-menu {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  transition: all 0.4s;
}

.descrip-producto-menu {
  opacity: 0;
  transition: all 0.4s;
}

.pizza-menu:hover .descrip-producto-menu,
.pizza-menu:hover .agregar-carrito-menu {
  opacity: 1;
  cursor: pointer;
}

.pizza-menu:hover .info-pizza-menu {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.pizza-menu:hover .img-producto {
  transform: scale(1.075);
}

.agregar-carrito-menu {
  opacity: 0;
  height: 20%;
  position: absolute;

  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  background-color: rgba(150, 150, 150, 0.5);

  bottom: 0;
  left: 0;
  right: 0;

  transition: all 0.4s;
}

.agregar-carrito-menu:hover {
  cursor: pointer;
  background-color: #36bf388e;
}

@media (min-width: 685px) {
  .pizzas-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1000px) {
  .pizzas-menu {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1200px) {
  main {
    padding: 0 10vw;
  }
}
