body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(182, 158, 130);
  font-family: "Nunito", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}
form{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container-product-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 2rem;
  margin-top: 3rem;
  font-size: 1.5rem;
  width: 100%;
}
.titulo-edicion-producto{
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: bold;
}
.titu
.nombre-producto-edit{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.nombre-producto-edit label{
  display: flex;
  align-items: flex-start;
  font-weight: bold;
}
.nombre-producto-edit input{
  width: 100%;
  height: 3rem;
  background-color: white;
  border-radius: 5px;
  border: none;
  padding-left: 0.5rem;
  font-family: "Nunito", sans-serif;
}
.descripcion-producto{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.descripcion-producto label{
  display: flex;
  align-items: flex-start;
  font-weight: bold;
}
.descripcion-producto input{
  width: 100%;
  height: 3rem;
  background-color: white;
  border-radius: 5px;
  border: none;
  padding-left: 0.5rem;
  font-family: "Nunito", sans-serif;
}
.imagen-producto{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.imagen-producto label{
  display: flex;
  align-items: flex-start;
  font-weight: bold;
}
.imagen-producto input{
  display: flex;
  font-family: "Nunito", sans-serif;
  margin-top: 0.5rem;
  width: 100%;
}
.categoria-producto{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.categoria-producto label{
  display: flex;
  align-items: flex-start;
  font-weight: bold;
}
.categoria-producto select{
  width: 100%;
  height: 3rem;
  background-color: white;
  border-radius: 5px;
  border: none;
  padding-left: 0.5rem;
  font-family: "Nunito", sans-serif;
}
.precio-producto{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.precio-producto label{
  display: flex;
  align-items: flex-start;
  font-weight: bold;
}
.precio-producto input{
  width: 100%;
  height: 3rem;
  background-color: white;
  border-radius: 5px;
  border: none;
  padding-left: 0.5rem;
  font-family: "Nunito", sans-serif;
}
.botones-edicion{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.botones-edicion button{
  display: flex;
  width: 49%;
  height: 3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(0 0 0 / 20%) 1px 1px 5px 0;
  border-radius: 5px;
  border: none;
  font-family: "Nunito", sans-serif;
  transition: all 0.4s;
}
.save-changes{
  background-color: #36bf38;
  color: white;
}
.save-changes:hover{
  transform: scale(1.05);
  cursor: pointer;
  background-color:#36bf38;
   
}
.clear-all{
  background-color: crimson;
  color: white;
}
.clear-all:hover{
   transform: scale(1.05);
  cursor: pointer;
  background-color: crimson;

}