/* 
Colores
#d9d9cd
#5b7a2f
#36bf38
#ffcc33
#d99e40
#ae7e33
*/

/* ///////////////////// */

body {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.55)
    ),
    url("/imgs/blake-wisz-pPA-_q5v1a8-unsplash.jpg");
  background-size: cover;
  background-position-x: center;
}

/* contenedor principal */
.container-registro {
  display: flex;
  flex-direction: column;

  margin-top: 10vh;
  align-items: center;
  justify-content: center;
}

/* form */
.form-registro {
  display: flex;
  flex-direction: column;
  justify-self: center;

  width: 85vw;
  max-width: 400px;
}

.form-registro ion-icon {
  font-size: 2.3rem;
  /* color: #ae7e33; */
  color: #e5a030;
  margin-right: 5px;
}

.container-registro form p label {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  margin-bottom: 5px;
}

/* input fields */
.inputs {
  margin-bottom: 15px;
  width: 100%;
  height: 3.5rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  padding-left: 0.5rem;
}

.inputs:focus {
  outline: 1px solid #ffcc33;
}

.checkboxes {
  margin: 15px 0;
}

.div-checkbox label {
  display: flex;
  align-items: center;

  font-size: 1.6rem;
  margin-bottom: 10px;
}

.checkbox {
  width: auto;
  margin-bottom: 0;
  margin-right: 5px;
  border: none;
  outline: none;
  width: 2rem;
  height: 2rem;
}

.enviar-registro {
  margin-top: 10px;
  margin-bottom: 17px;
  height: 4.5rem;
  font-size: 1.6rem;
  transition: all 0.4s;
}

.enviar-registro:hover {
  background-color: #be8a36;
}

.cuenta-existente--login {
  margin: 0 auto;
  font-size: 1.6rem;
}

/* link iniciar sesion */
.cuenta-existente--login a {
  color: #36bf38;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s;
}

.cuenta-existente--login a:hover {
  text-decoration: none;
  color: #43e245;
}

p,
.div-checkbox label {
  color: white;
}

@media (min-width: 1200px) {
  body {
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.4)
      ),
      url("/imgs/blake-wisz-pPA-_q5v1a8-unsplash.jpg");
  }

  .container-registro {
    align-items: flex-end;
    margin-right: 10vw;
  }
}
