/* 
Colores
#d9d9cd
#5b7a2f

#43e245
#36bf38
#be8a36
#e5a030
#ffcc33


*/

/* ///////////////////// */

body {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.55)
    ),
    url("/imgs/register-background.jpg");
  background-size: cover;
  background-position-x: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 11rem;
}

p,
.div-checkbox label {
  color: white;
}

.form-register ion-icon {
  font-size: 2.3rem;
  color: #e5a030;
  color: #fc913a;
  margin-right: 0.5rem;
}

/* contenedor principal */
.container-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 10rem 0;
}

/* form */
.form-register {
  display: flex;
  flex-direction: column;
  justify-self: center;

  width: 85vw;
  max-width: 40rem;
}

.container-register form p label {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

/* input fields */
.inputs {
  width: 100%;
  height: 3.5rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  padding-left: 0.5rem;
}

.inputs:focus {
  outline: 0.1rem solid #ffcc33;
}

.checkboxes {
  margin: 1.5rem 0;
}

.div-checkbox label {
  display: flex;
  align-items: center;

  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.checkbox {
  margin-bottom: 0;
  margin-right: 0.5rem;
  width: 2rem;
  height: 2rem;
}

.send-register {
  margin-top: 1rem;
  margin-bottom: 1.7rem;
  height: 4.5rem;
  font-size: 1.6rem;
  transition: all 0.4s;
}

.send-register:hover {
  background-color: #be8a36;
}

.existing-account--login {
  margin: 0 auto;
  font-size: 1.6rem;
}

/* link iniciar sesion */
.existing-account--login a {
  color: #36bf38;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s;
}

.existing-account--login a:hover {
  color: #43e245;
  text-decoration: none;
}

@media (min-width: 1200px) {
  body {
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.4)
      ),
      url("/imgs/register-background.jpg");
  }

  .container-register {
    align-items: flex-end;
    margin-right: 10vw;
  }
}
