/* 
Colores:
marron: #6f2108
rojo: #a6172d #87314e
naranja: #c47f00 #de8a01 #fc913a
verde: #5bcd3e
grises: #222 #333 #666 #a5a5a5 #b9b9b9 #d5d5d5 #ebebeb #ece9e6
*/

/* ///////////////// */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* Porcentage del font-size del browser del user */
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
}

.body-home {
  background-image: url("../imgs/HOME-background.jpg");
  background-size: cover;
}

/* ///////////////////////// */
/* Generales y reutilizables */
/* ///////////////////////// */

.btn {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  /* background-color: #de8a01; */
  background-color: #fc913a;
  color: #fff;
  font-weight: 700;
  transition: all 0.4s;
}

.btn:hover {
  cursor: pointer;
  /* background-color: #c47f00; */
  /* background-color: #ef862f; */
  background-color: #e7802d;
}

.checkbox {
  -webkit-appearance: none;
  appearance: none;
  height: 2rem;
  width: 2rem;
  background-color: #d5d5d5;
  border-radius: 0.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  transition: all 0.1s;
}

.checkbox:after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.5rem;
  color: #fff;
  display: none;
}

.checkbox:hover {
  background-color: #a5a5a5;
}

.checkbox:checked {
  background-color: #5bcd3e;
}

.checkbox:checked::after {
  display: block;
}

/* ////// */
/* Header */
/* ////// */

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5vw;
  background-color: rgb(217, 217, 205, 0.8);
  box-shadow: rgb(50 50 93 / 2%) 0rem 1.3rem 2.7rem -0.5rem,
    rgb(0 0 0 / 20%) 0 0.8rem 1.6rem -0.8rem;
}

/* burger menu, titulo orsai, carrito */
.header-link {
  font-size: 2.4rem;
  text-decoration: none;
  color: #333;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.header-link ion-icon {
  font-size: 4rem;
}

.burger-menu,
.cart {
  font-size: 2.8rem;
}

.main-nav {
  display: none;
}

/* ///////////////// */

main {
  padding: 0 5vw;
  margin-bottom: 2rem;
}

/* SLIDER */
.slider {
  max-height: 25rem;
  height: 50rem;
  margin: 3rem auto;

  /* si va a ocupar 100vw */
  margin-top: 0;

  position: relative;
  -webkit-user-select: none;
  user-select: none;

  /* AL FINAL */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: -50%;
  width: 100%;
  height: 50rem;
  -webkit-user-select: none;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 1s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  color: #fc913a;
  height: 6rem;
  width: 6rem;
  cursor: pointer;
  /* -webkit-tap-highlight-color: transparent; */
}

.slider-btn--left {
  left: 3%;
  transform: translate(0, -50%);
}

.slider-btn--right {
  right: 3%;
  transform: translate(0, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots-dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
  /* -webkit-tap-highlight-color: transparent; */
  border: 2px solid #ebebeb;
  box-shadow: rgba(84, 84, 84, 0.16) 0px 1px 4px,
    rgb(84, 84, 84) 0px 0px 0px 3px;
}

.dots-dot:last-child {
  margin: 0;
}

.dots-dot--active {
  background-color: #fc913a;
  opacity: 1;
}

/* ///////////////// */
/* Sección Promociones - Sección pizzas */
/* ///////////////// */

.pizzas {
  padding: 0 0;
}

.offers img,
.pizzas img {
  width: 100%;
}

.section-title {
  font-size: 2.4rem;
  text-align: center;
  /* color: #444; */
  color: #ebebeb;
}

.highlight {
  /* background-image: linear-gradient(to right, #c94617, #f27121cc, #fc913a); */
  background-image: linear-gradient(
    to right,
    rgba(152, 50, 13, 0.8),
    rgb(201, 70, 23, 0.8),
    rgba(242, 113, 33, 0.8)
  );
  /* opcion 2 */
  /* background-image: linear-gradient(to right, #7ca40e, #c8d236, #e5da39); */
  /* border-radius: 6px; */
  padding: 7px 6px;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 2rem;
  transform: skew(-20deg);
}

.section-title p {
  transform: skew(20deg);
}

.section-title a {
  text-decoration: none;
  /* color: #444; */
  color: #ebebeb;
}

.pizza {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  font-size: 1.6rem;
  box-shadow: rgb(0 0 0 / 20%) 0.1rem 0.1rem 0.5rem 0;
  border-radius: 0.6rem;
  transition: all 0.4s;
  overflow: hidden;
  background: linear-gradient(
    to right,
    rgba(255, 162, 87, 0.7),
    rgb(233, 173, 124, 0.7)
  );
  /* background: linear-gradient(
    to top right,
    rgba(183, 183, 183, 0.6),
    rgba(185, 185, 185, 0.6)
  ); */
  /* background: linear-gradient(to right, #b38a75, #f3b079); */
  /* background: linear-gradient(
    to right,
    rgb(255, 183, 94, 0.7),
    hsla(36, 98%, 47%, 0.7)
  ); */
  text-decoration: none;
  color: #333;
  text-align: center;
  position: relative;
}

.pizza:hover {
  transform: translateY(-1rem);
  cursor: pointer;
}

.pizza-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.pizza-info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  height: 100%;
}

.product-name {
  text-align: center;
  font-weight: 700;
  color: #333;
}

.price {
  color: #666;
  /* color: #69cd3e; */
  color: #d96f19;
  font-weight: 900;
  color: #4caf50;
}

.price-tag {
  position: absolute;
  color: #ebebeb;
  color: #666;
  font-weight: 900;
  padding: 1rem;
  height: fit-content;
  /* width: -moz-fit-content;
  width: fit-content; */
  width: 100%;
  background-color: rgba(255, 204, 51, 0.9);
  top: 0;
  right: 0;
}

.add-cart {
  display: flex;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 2rem 1rem;
  font-size: 1.6rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.4s;
  background-color: #4caf50;
}

.add-cart:hover {
  background-color: #3ba23e;
}

/* ///////////////// */
/* Sección Empanadas */
/* ///////////////// */

.empanada {
  display: flex;
  box-shadow: rgb(0 0 0 / 20%) 0.1rem 0.1rem 0.5rem 0;
  border-radius: 0.6rem;
  margin-bottom: 2.5rem;
  background: linear-gradient(
    to right,
    rgb(255, 173, 105, 0.9),
    rgb(233, 173, 124, 0.9)
  );

  /* background: linear-gradient(
    to right,
    rgb(255, 183, 94, 0.7),
    hsla(36, 98%, 47%, 0.7)
  ); */
  transition: all 0.4s;
  text-decoration: none;
  overflow: hidden;
}

.empanada button {
  background-color: #4caf50;
}

.empanada button:hover {
  background-color: #3ba23e;
}

.empanada:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.empanada img {
  width: 50%;
  height: 15rem;
  object-fit: cover;
}

.info-empanada {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.name-price-div {
  padding: 0.5rem 1rem 0 1rem;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.name-price-div p {
  font-size: 1.6rem;
}

.name-price-div .price {
  font-size: 1.4rem;
}

.add-emp-2 {
  display: none;
}

.empanada button {
  border-radius: 0 0 0.6rem 0;
  height: 40%;
  width: 100%;
  align-self: flex-end;
}

/* ///////////////// */
/* Footer */
/* ///////////////// */

.footer {
  font-size: 0.85rem;
  padding: 1rem 0 0 0;
  line-height: 1.6;
  background-color: rgb(217, 217, 205, 0.8);
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.footer a {
  text-decoration: none;
  color: #222;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer li {
  outline: none;
  text-decoration: none;
  padding: 0.2rem 0.1rem 0;
  color: #222;
  list-style: none;
}
.footer li a:hover {
  color: #de8a01;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
}
.logo-footer ion-icon {
  font-size: 3rem;
}
.website-links-ul {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.website-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  margin: 1rem 0 1rem 0;
  text-align: center;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.4rem;
  margin: 1;
  padding: 1rem 1rem 0 1rem;
}
.social-media {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
}
.mobile-app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
}
.social-media-links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  font-size: 3rem;
  gap: 0.5rem;
}
.mobile-app-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex-direction: row;
  text-align: center;
  font-size: 3rem;
  gap: 0.5rem;
}
.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.footer-top,
.footer-subtitle {
  color: black;
  padding: 0.3rem 1.5rem;
  display: block;
}

.footer-hr {
  height: 0.1rem;
  border: none;
  background: black;
}

.footer-subtitle {
  font-weight: bold;
}

@media (min-width: 768px) {
  .footer__section {
    width: 50%;
  }
}

@media (min-width: 480px) {
  .footer__section {
    width: 100%;
  }
}

/* ///////////////// */
/* Queries */
/* ///////////////// */

@media (min-width: 685px) {
  .burger-menu,
  .cart {
    display: none;
  }
  header {
    padding: 3rem 5vw;
    padding-bottom: 0;
  }

  .orsai-title {
    padding-bottom: 0.8rem;
    transition: all 0.3s;
  }

  .orsai-title ion-icon {
    font-size: 3rem;
  }

  .main-nav a {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 1.5rem;
    text-decoration: none;
    color: #333;
    transition: all 0.3s;
    padding-bottom: 1rem;
    border-bottom: 0.5rem solid rgba(220, 20, 60, 0);
  }

  /* .orsai-title:hover {
    color: #a6172d;
  } */

  .main-nav a:hover {
    /* border-bottom: 0.5rem solid #a6172d;
    color: #a6172d; */
    border-bottom: 0.5rem solid #c94617;
    color: #c94617;
  }

  .main-nav ion-icon {
    margin-right: 0.3rem;
    font-size: 3rem;
  }

  .main-nav {
    display: flex;
  }

  .slider {
    max-height: 40rem;
  }

  /* Sin esto la imagen se ve cortada */
  .slide {
    top: 0;
  }

  .seccion-heroe ion-icon {
    display: block;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .pizza {
    width: 30%;
  }

  .empanada {
    width: 47%;
  }
  .website-links-ul {
    flex-direction: row;
    gap: 2rem;
  }
  .footer-bottom {
    justify-content: center;
  }
}

@media (min-width: 1000px) {
  .main-nav a {
    font-size: 2rem;
    margin-left: 2.5rem;
  }

  .empanada {
    width: 30%;
  }

  .add-emp-1 {
    display: none;
  }

  .add-emp-2 {
    display: block;
  }
  .website-links-ul {
    flex-direction: row;
    gap: 3rem;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .orsai-title {
    font-size: 2.8rem;
  }

  header {
    padding: 3rem 10vw;
    padding-bottom: 0;
  }

  /* //// */
  .offers,
  .pizzas,
  .empanadas {
    padding: 0;
  }

  .add-cart {
    font-size: 2rem;
  }

  main {
    padding: 0 10vw;
  }

  /* .slider {
    max-height: 50rem;
  } */

  /* para opcion de 100vw */
  .slider {
    max-height: 60rem;
    height: 60rem;
  }

  .slide {
    height: 60rem;
  }

  /* //// */

  .pizza {
    font-size: 1.9rem;
  }

  .name-price-div p,
  .name-price-div .price {
    font-size: 1.8rem;
  }

  .name-price-div {
    font-size: 1.6rem;
  }
  .website-links-ul {
    flex-direction: row;
    gap: 3rem;
  }
}
