<!DOCTYPE html>
<html lang="es">

<head>

    <%- include('./partials/head.ejs') %>

        <link rel="stylesheet" href="/css/productEdit.css" />

        <title>Carga de producto</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main class="edicionProducto">
            <div class="container-product-edit">
                <div class="titulo-edicion-producto">
                    <p class="titulo">Carga de Producto</p>
                </div>
                <form action="/productos/crear" method="GET" enctype="multipart/form-data">
                    <div class="nombre-producto-edit">
                        <label for="nombre-producto-edit">Nombre del Producto</label>
                        <input type="text" name="nombre-producto-edit" placeholder="Nombre" ; id="nombre-producto-edit">
                        </input>
                    </div>
                    <div class="descripcion-producto">
                        <label for="descripcion-producto">Descripción</label>
                        <input type="text" name="descripcion-producto" ; placeholder="Descripción" ;
                            id="descripcion-producto">
                        </input>
                    </div>
                    <div class="imagen-producto">
                        <label for="imagen-producto">Imagen</label>
                        <div class="file-select">
                            <input type="file" ; name="imagen-producto" ; id="imagen-producto" ; accept=".jpg, .png">
                            </input>
                        </div>
                    </div>
                    <div class="categoria-producto">
                        <label for="categoria-producto">Categoría</label>
                        <select name="categoria-producto">
                            <option value="Pizza">Pizza</option>
                            <option value="Empanada">Empanada</option>
                            <option value="Promocion">Promoción</option>
                        </select>
                    </div>
                    <div class="precio-producto">
                        <label for="precio-producto">Precio</label>
                        <input type="text" ; name="ingredientes" ;placeholder=1000; id="precio-producto"></input>
                    </div>
                    <div class="botones-edicion">
                        <button class="save-changes" type="submit" id="botones-edicion">Cargar Producto</button>
                        <button class="clear-all" type="reset" id="botones-ediccion">Borrar Datos</button>
                    </div>
                </form>
            </div>
        </main>
        <%- include('./partials/footer.ejs') %>
            <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>