<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/productCart.css" />

    <title>Mis Compras</title>
</head>

<body>
  <%- include("./partials/header") %>
    <main class="main-carrito">
      <div class="container-carrito">
        <form class="form-carrito" action="/" method="GET">
          <div class="titulo-carrito">
            <p class="titulo">MI PEDIDO</p>
          </div>
          <div class="productos-carrito">
            <div class="productos">
              <p class="producto-carrito">Scaloneta + 2 Cervezas</p>
              <p class="precio-producto-carrito">$1000</p>
            </div>
            <div class="cantidad">
              <input class="input-cantidad" type="number" name="cantidad" id="cantidad" min="0" placeholder="0" />
            </div>
          </div>
          <div class="productos-carrito">
            <div class="productos">
              <p class="producto-carrito">Messirve + 2 Cervezas</p>
              <p class="precio-producto-carrito">$1000</p>
            </div>
            <div class="cantidad">
              <input class="input-cantidad" type="number" name="cantidad" id="cantidad" min="0" placeholder="0" />
            </div>
          </div>
          <div class="subtotal-carrito">
            <p class="subtotal">Subtotal:</p>
            <p class="precio-subtotal">$1000</p>
          </div>
          <div class="vaciar-agregar-carrito">
            <button class="vaciar" type="reset">
              <ion-icon name="trash-bin-outline"></ion-icon>Vaciar Pedido
            </button>
            <button class="agregar" type="button">
              <ion-icon name="cart-outline"></ion-icon>Agregar Productos
            </button>
          </div>
          <div class="continuar-carrito">
            <button class="input-continuar-carrito" type="submit">
              Continuar
            </button>
          </div>
        </form>
      </div>
    </main>
    <%- include("./partials/footer") %>
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>