<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/productDetail.css" />
    <title>Detalle de Producto</title>
</head>

<body>
  <%- include('./partials/header.ejs') %>

    <main class="main-product-detail">
      <div class="container-det-producto">
        <div class="detail-div-img">
          <img src="/imgs/foto-carousel-1.jpg" alt="" class="img-det-producto" />
        </div>
        <h1>La Scaloneta</h1>
        <div class="sub-container">
          <div class="detail-div-1">
            <div class="nombre-producto--descripcion">
              <p class="descripcion-producto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
                voluptas placeat quos! Repudiandae, ipsam ipsa deleniti ullam
                dolor dignissimos
              </p>
            </div>
            <div class="selects">
              <div class="selects-sub-container">

                <label>Toppings</label>
                <select name="toppings" class="select">
                  <option>Champiniones</option>
                  <option>Pickles</option>
                  <option>Pepperoni</option>
                </select>
              </div>
              <div class="selects-sub-container">

                <label>Bebida</label>
                <select name="bebida" class="select">
                  <option value="cerveza">Cerveza</option>
                  <option value="gaseosa">Gaseosa</option>
                </select>
              </div>
            </div>
          </div>
          <div class="detail-div-2">
            <div>
              <textarea class="input-aclaraciones" placeholder="Aclaraciones"></textarea>
            </div>
            <div class="div-button-carrito">
              <a href="/">
                <button type="submit" class="btn agregar-carrito">
                  Añadir al Carrito
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>