<a class="empanada"href="/products/<%= empanada.id %>">
  <img src="/imgs/products/<%=empanada.image%>" alt="" />
  <div class="info-empanada">
    <div class="nombre-precio">
      <p class="nombre-producto"><%=empanada.name%></p>
      <span class="precio">$<%=empanada.price%></span>
    </div>
    <button class="btn agregar-emp-1">Agregar</button>
    <button class="btn agregar-emp-2">Agregar al Pedido</button>
  </div>
</a>
