<article class="empanada">          
  <img src=<%=empanada.src%> alt="" />
  <div class="info-empanada">
    <div class="nombre-precio">
      <p class="nombre-producto"><%=empanada.nombre%></p>
      <span class="precio">$<%=empanada.precio%></span>
    </div>
    <button class="btn agregar-emp-1">Agregar</button>
    <button class="btn agregar-emp-2">Agregar al Pedido</button>
  </div>
</article>