<a class="empanada" href="/products/<%= empanada.id %>">
  <img src="/imgs/products/<%=empanada.image%>" alt="" />
  <div class="info-empanada">
    <div class="name-price-div">
      <p class="product-name"><%=empanada.name%></p>
      <span class="price">$<%=empanada.price%></span>
    </div>
    <button class="btn add-emp-1">Agregar</button>
    <button class="btn add-emp-2">Agregar al Pedido</button>
  </div>
</a>
