<footer class="footer">
    <div class="footer-texto">
      <a href="#" class="footer-link orsai-titulo-footer"
        >ORSAI<ion-icon name="pizza-outline"></ion-icon
      ></a>
      <p>
        Nuestro sitio sera una casa de ventas de pizza Nosotros no
        conquistamos Napoles como el diego pero conquistamos el sabor de la
        pizza napolitana. Sino llegas para viajar a Qatar veni a ORSAI a catar
        pizza
      </p>
      <small>&copy; 2022 <b>Orsai</b> - Todos los derechos reservados.</small>
      <hr class="footer-hr" />
    </div>
    <div class="footer-secciones">
      <div class="footer-seccion">
        <a href="/login">Iniciar sesion</a>
        <a href="#">Quienes somos</a>
        <a href="/productos">Pizzas</a>
        <a href="/productos">Empanadas</a>
        <a href="#">Promocion</a>
      </div>
      <div class="footer-seccion">
        <span class="footer-subtitulo">Seguinos!</span>
        <a href="https://www.facebook.com/" class="fa-brands fa-facebook">
        </a>
        <a
          href="https://mobile.twitter.com/i/flow/login"
          class="fa fa-twitter"
        ></a>
        <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
      </div>
    </div>
  </footer>