<footer class="footer">
  <div class="footer-top">
    <a href="#" class="logo-footer"
      >ORSAI<ion-icon name="pizza-outline"></ion-icon
    ></a>
    <div class="links">
      <ul class="lista-links">
        <li>
          <a href="/login">Iniciar sesion</a>
        </li>
        <li>
          <a href="#">Quienes somos</a>
        </li>
        <li>
          <a href="/productos">Pizzas</a>
        </li>
        <li>
          <a href="/productos">Empanadas</a>
        </li>
        <li>
          <a href="#">Promociones</a>
        </li>
      </ul>
    </div>
    <hr class="footer-hr" />
  </div>
  <div class="footer-bottom">
    <div class="redes">
      <span class="footer-subtitulo">Redes Sociales</span>
      <ul class="lista-redes">
        <li>
          <a href="https://www.facebook.com/" class="fa-brands fa-facebook">
          </a>
        </li>
        <li>
          <a
            href="https://mobile.twitter.com/i/flow/login"
            class="fa fa-twitter"
          ></a>
        </li>
        <li>
          <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
        </li>
      </ul>
    </div>
    <div class="aplicaciones">
      <span class="footer-subtitulo">Descargar App</span>
      <ul class="lista-aplicaciones">
        <li>
          <a href="https://appstore.com/"
            ><i class="fa-brands fa-app-store-ios"></i
          ></a>
        </li>
        <li>
          <a href="https://googleplay.com/"
            ><i class="fa-brands fa-google-play"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <small class="footer-copyright"
    >&copy; 2022 ORSAI - Todos los Derechos Reservados.</small
  >
</footer>
<script
  src="https://kit.fontawesome.com/7e9e5417b5.js"
  crossorigin="anonymous"
></script>
