<header>
  <a href="#" class="header-link burger-menu">
    <ion-icon name="menu-sharp"></ion-icon>
  </a>
  <a href="/" class="header-link orsai-title">
    ORSAI
    <ion-icon name="pizza-outline"></ion-icon>
  </a>
  <a href="/order" class="header-link cart">
    <ion-icon name="cart-sharp"></ion-icon>
  </a>
  <ul class="main-nav">
    <a href="/admin/create-product">Crear Producto</a>
    <a href="/products">Menú</a>
    <a href="#">Quienes somos</a>
    <% if (locals.isLogged) { %>
    <a href="/users/profile">
      <ion-icon name="person-circle"></ion-icon><%= locals.loggedUser.firstName
      %>
    </a>
    <% } else { %>
    <a href="/users/login">
      <ion-icon name="person-circle"></ion-icon>Ingresar
    </a>
    <% } %>
    <a href="/order"> <ion-icon name="cart-sharp"></ion-icon>$0.00 </a>
  </ul>
</header>
