<header>
  <a href="#" class="header-link burger-menu">
    <ion-icon name="menu-sharp"></ion-icon>
  </a>
  <a href="/" class="header-link orsai-title">
    ORSAI
    <ion-icon name="pizza-outline"></ion-icon>
  </a>
  <a href="/order" class="header-link cart">
    <ion-icon name="cart-sharp"></ion-icon>
  </a>
  <ul class="main-nav">
    <% if (locals.loggedUser?.category.name === "admin") { %> 
    <a href="/admin/create-product"class="header-link">Crear Producto</a>
    <% } %> 
    <a href="/products"class="header-link">Menú</a>
    <% if (locals.isLogged) { %>
      <a href="/users/profile"class="header-link">
        <ion-icon name="person-circle"></ion-icon><%= locals.loggedUser.firstName
      %>
    </a>
    <form action="/users/logout" method="POST" class="logout-btn-form">
      <button type="submit" class="logout-btn"><ion-icon name="log-out"></ion-icon>Logout</button>
    </form>
    <% } else { %>
    <a href="/users/login" class="header-link">
      <ion-icon name="person-circle"></ion-icon>Ingresar
    </a>
    <% } %>
    <a href="/order" class="header-link"> <ion-icon name="cart-sharp"></ion-icon>$0.00 </a>
  </ul>
  <a href="#" class="header-link close-nav">
    <ion-icon name="close-sharp"></ion-icon>
  </a>
</header>
