<header>
  <a href="#" class="header-link burger-menu">
    <ion-icon name="menu-sharp"></ion-icon>
  </a>
  <a href="/" class="header-link orsai-titulo">
    ORSAI
    <ion-icon name="pizza-outline"></ion-icon>
  </a>
  <a href="/pedido" class="header-link carrito">
    <ion-icon name="cart-sharp"></ion-icon>
  </a>
  <ul class="main-nav">
    <a href="/admin/crear-producto">Crear Producto</a>
    <a href="/productos">Menú</a>
    <a href="#">Quienes somos</a>
    <a href="/users/login">
      <ion-icon name="person-circle"></ion-icon>Ingresar
    </a>
    <a href="/pedido">
      <ion-icon name="cart-sharp"></ion-icon>$0.00
    </a>
  </ul>
</header>