<div class="pizza-menu">
  <img src="/imgs/products/<%=pizza.image %>" alt="" class="product-img" />
  <div class="descrip-product-menu">
    <div class="info-pizza-menu">
      <p class="name-pizza-menu"><%= pizza.name %></p>
      <span>$<%= pizza.price %></span>
      <p><%= pizza.description %></p>
    </div>
    <button class="btn add-cart-menu">Agregar al Pedido</button>
  </div>
</div>
