<article class="pizza">
  <img src= <%=pizza.src%> />
  <div class="info-pizza">
    <p class="nombre-producto">
      <%=pizza.nombre%></p>
    <span class="precio">$<%=pizza.precio%></span>
    <p class="descripcion-promo"><%=pizza.descripcion%></p>
  </div>
  <button class="btn agregar-carrito">Agregar al Pedido</button>
</article>