<article class="promocion">
  <img src="/imgs/pizza-producto-1.jpg" alt="" />
  <div class="info-promocion">
    <p class="nombre-producto">Pizza de Dios + 2 cervezas o 1 gasesosa</p>
    <span class="precio">$1000</span>
    <p class="descripcion-promo">Descripción</p>
  </div>
  <button class="btn agregar-carrito">Agregar al Pedido</button>
</article>
