<div class="slider">
  <div class="slide"><img src="/imgs/SLIDER-1.jpg" alt="Photo 1" /></div>
  <div class="slide"><img src="/imgs/SLIDER-2.jpg" alt="Photo 2" /></div>
  <div class="slide"><img src="/imgs/SLIDER-3.jpg" alt="Photo 3" /></div>
  <div class="slide"><img src="/imgs/SLIDER-4.jpg" alt="Photo 4" /></div>
  <!-- <button class="slider-btn slider-btn--left">&larr;</button>
  <button class="slider-btn slider-btn--right">&rarr;</button> -->
  <ion-icon name="chevron-back-circle" class="slider-btn slider-btn--left"></ion-icon>
  <ion-icon name="chevron-forward-circle" class="slider-btn slider-btn--right"></ion-icon>
  <div class="dots"></div>
</div>
