<!DOCTYPE html>
<html lang="es">

<head>

    <%- include('../partials/head.ejs') %>

        <link rel="stylesheet" href="/css/productManagement.css" />

        <title>Carga de producto</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <main>
            <div class="container">
                <div class="title-div">
                    <p class="title">Carga de Producto</p>
                </div>
                <form action="/admin/create-product" method="POST" enctype="multipart/form-data">
                    <div class="product-name">
                        <label for="name">Nombre del Producto</label>
                        <input type="text" name="name" placeholder="Nombre" id="name">
                        </input>
                    </div>
                    <div class="product-description">
                        <label for="description">Descripción</label>
                        <input type="text" name="description" placeholder="Descripción" id="description">
                        </input>
                    </div>
                    <div class="product-category">
                        <label for="category">Categoría</label>
                        <select name="category">
                            <option value="Pizza">Pizza</option>
                            <option value="Empanada">Empanada</option>
                            <option value="Promocion">Promoción</option>
                        </select>
                    </div>
                    <div class="product-image">
                        <label for="image">Imagen</label>
                        <div class="file-select">
                            <input type="file" name="image" id="image" accept=".jpg, .png">
                            </input>
                        </div>
                    </div>
                    <div class="product-price">
                        <label for="price">Precio</label>
                        <input type="number" name="price" placeholder="1000" id="price"></input>
                    </div>
                    <div class="buttons-form">
                        <button class="save-changes" type="submit" id="botones-edicion">Cargar Producto</button>
                        <button class="clear-form" type="reset" id="botones-ediccion">Borrar Datos</button>
                    </div>
                </form>
            </div>
        </main>
        <%- include('../partials/footer.ejs') %>
            <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>