<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/register.css" />

    <title>Registro</title>
</head>

<body>
  <%- include('../partials/header.ejs') %>

    <div class="container-register">
      <form action="/users/register" method="POST" enctype="multipart/form-data" class="form-register">
        <p>
          <label for="lastName">
            <ion-icon name="person-circle"></ion-icon> Nombre
          </label>
          <input type="text" name="lastName" id="lastName" placeholder="Nombre" class="inputs" required />
        </p>
        <p>
          <label for="lastName">
            <ion-icon name="person-circle"></ion-icon> Apellido
          </label>
          <input type="text" name="lastName" id="lastName" placeholder="Apellido" class="inputs" required />
        </p>
        <p>
          <label for="email">
            <ion-icon name="mail"></ion-icon> Email
          </label>
          <input type="email" name="email" id="email" placeholder="Dirección email" class="inputs" required />
        </p>
        <p>
          <label for="phone">
            <ion-icon name="call"></ion-icon> Teléfono Celular
          </label>
          <input type="tel" name="phone" id="phone" placeholder="11-0000-0000" class="inputs" required />
        </p>
        <p>
          <label for="password">
            <ion-icon name="lock-closed"></ion-icon> Contraseña
          </label>
          <input type="password" name="password" id="password" placeholder="Escriba su contraseña" class="inputs"
            required />
        </p>
        <p>
          <label for="imagen">
            <ion-icon name="image"></ion-icon> Imagen de perfil
          </label>
          <input type="file" name="image" id="image" class="inputs" accept=".jpg, .png" required/>
        </p>
        <div class="checkboxes">
          <div class="div-checkbox">
            <label for="newsletter-accept">
              <input type="checkbox" name="newsletter-accept" id="newsletter-accept" value="newsletter-accept" class="checkbox" />
              Acepto suscribirme al Newsletter.
            </label>
          </div>

          <div class="div-checkbox">
            <label for="privacy-policy"">
              <input type="checkbox" name="privacy-policy"" id="privacy-policy"" value="privacy-policy" class="checkbox"
                required />
              Acepto las Políticas de Privacidad.
            </label>
          </div>
        </div>
        <button type="submit" class="btn send-register">Registrarse</button>
        <p class="existing-account--login">
          ¿Ya tenés una cuenta? <a href="/users/login">Inicia sesión.</a>
        </p>
      </form>
    </div>
    <%- include("../partials/footer") %>

      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>