<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/register.css" />

    <title>Registro</title>
</head>

<body>
  <%- include('../partials/header.ejs') %>

    <div class="container-registro">
      <form action="/users/profile" method="POST" enctype="multipart/form-data" class="form-registro">
        <p>
          <label for="nombre">
            <ion-icon name="person-circle"></ion-icon> Nombre
          </label>
          <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="inputs" required />
        </p>
        <p>
          <label for="apellido">
            <ion-icon name="person-circle"></ion-icon> Apellido
          </label>
          <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="inputs" required />
        </p>
        <p>
          <label for="email">
            <ion-icon name="mail"></ion-icon> Email
          </label>
          <input type="email" name="email" id="email" placeholder="Dirección email" class="inputs" required />
        </p>
        <p>
          <label for="telefono">
            <ion-icon name="call"></ion-icon> Teléfono Celular
          </label>
          <input type="tel" name="telefono" id="telefono" placeholder="11-0000-0000" class="inputs" required />
        </p>
        <p>
          <label for="contrasenia">
            <ion-icon name="lock-closed"></ion-icon> Contraseña
          </label>
          <input type="password" name="contrasenia" id="contrasenia" placeholder="Escriba su contraseña" class="inputs"
            required />
        </p>
        <p>
          <label for="imagen">
            <ion-icon name="image"></ion-icon> Imagen de perfil
          </label>
          <input type="file" name="imagen" id="imagen" class="inputs" accept=".jpg, .png" required/>
        </p>
        <div class="checkboxes">
          <div class="div-checkbox">
            <label for="newsletter">
              <input type="checkbox" name="acepto" id="newsletter" value="newsletter" class="checkbox" />
              Acepto suscribirme al Newsletter.
            </label>
          </div>

          <div class="div-checkbox">
            <label for="privacidad">
              <input type="checkbox" name="acepto" id="privacidad" value="politicasPrivacidad" class="checkbox"
                required />
              Acepto las Políticas de Privacidad.
            </label>
          </div>
        </div>
        <button type="submit" class="btn enviar-registro">Registrarse</button>
        <p class="cuenta-existente--login">
          ¿Ya tenés una cuenta? <a href="/users/login">Inicia sesión.</a>
        </p>
      </form>
    </div>
    <%- include("../partials/footer") %>

      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>